# .gitignore

# Env file
.env

# Virtual environment folder
venv/

# Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.cache

# Jupyter Notebook
.ipynb_checkpoints/*

.DS_STORE

*.json

# sqlite
*.db